@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif,
        system-ui,
        "Inter",
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji",
        'Inter', 'Poppins', 
        'Outfit', 'Manrope', 
        'Plus Jakarta Sans', 
        sans-serif;
    background: linear-gradient(to bottom right,
                #f3f6fc,
                /* лёгкий серый в верхнем левом углу */
                #ffffff
                /* чистый белый в нижнем правом углу */
            );
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    background: linear-gradient(to bottom right, #1c71d8, #8609fc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.3s ease;
}

a:hover {
    background: linear-gradient(to top left, #8609fc, #1c71d8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}