.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(to bottom right, #f9f9f9, #e0e0ff);
    padding: 20px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
}

.title {
    font-size: 6rem;
    font-weight: bold;
    margin: 0;
    color: #4f46e5;
    /* красивый синий фиолетовый */
}

.subtitle {
    font-size: 2rem;
    margin: 10px 0;
    color: #6366f1;
}

.description {
    font-size: 1.2rem;
    color: #555;
    max-width: 400px;
    margin-bottom: 30px;
}

.homeButton {
    padding: 12px 25px;
    font-size: 1rem;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(79, 70, 229, 0.3);
    transition: background-color 0.3s ease;
}

.homeButton:hover {
    background-color: #3730a3;
}