.button {
    padding: 10px 30px;
    font-size: 16px;
    border: 2px solid silver;
    border-radius: 6px;
    color: black;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    border-color: linear-gradient(to right, #0073ffd0, #8400ffd0);
    transform: scale(1.01);
}

/* Планшеты (ширина до 1024px) */
@media (max-width: 1024px) {
    .button {
        padding: 10px 20px;
        font-size: 15px;
        width: 100%;
        /* растягиваем на всю ширину контейнера */
        box-sizing: border-box;
        /* чтобы padding учитывался внутри */
    }
}

/* Смартфоны (ширина до 768px) */
@media (max-width: 768px) {
    .button {
        padding: 12px 16px;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
    }
}