.QuickActionsCard {
    width: 100%;
    max-height: 84px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #e5e5e5;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, 'Inter', sans-serif;
    padding: 16px;
    background-color: white;

    --hover-color: #b700ff;
    --hover-bg: #b700ffdd;

    transition: border-color 0.15s ease, background-color 0.15s ease;
}

.QuickActionsCard span {
    color: #777;
}

.QuickActionsCard:hover {
    border-color: var(--hover-color);
    background-color: var(--hover-bg);
}

.icon {
    width: 52px;
    height: 52px;
    border-radius: 8px;
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.QuickActionsCard:hover .icon {
    transform: scale(1.1);
    background-color: var(--hover-bg);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.info {
    flex-grow: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info p,
.info span {
    margin: 0;
    line-height: 1.2;
}