.Header {
    width: 100%;
    padding: 20px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.leftHeader {
    display: flex;
    align-items: center;
}

.rightHeader {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 30px;
}

.rightHeader a {
    font-size: 16px;
    transition: opacity 0.2s;
}

.rightHeader a:hover {
    opacity: 0.7;
}

/* Планшеты (до 1024px) */
@media (max-width: 1024px) {
    .Header {
        padding: 20px 30px;
    }

    .rightHeader {
        gap: 30px;
    }

    .rightHeader a {
        font-size: 15px;
    }
}

/* Смартфоны (до 768px) */
@media (max-width: 768px) {
    .Header {
        display: flex;
        justify-content: space-between;
        /* flex-direction: column;
        align-items: flex-start;
        padding: 16px 20px;
        gap: 12px; */
    }

    .rightHeader {
        gap: 16px;
        /* меньшее расстояние между ссылками и кнопками */
        width: 100%;
        /* растягиваем на всю ширину */
        justify-content: flex-end;
    }

    .rightHeader a {
        font-size: 14px;
    }

    .UserInfo {
        display: none;
    }

}
