.sidebar {
    min-width: 287px;
    border-right: 1px solid #e5e5e5;
    position: fixed;
}

.logo {
    padding: 24px;
    border-bottom: 1px solid #e5e5e5;
}

.nav {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 720px;
}


.navItem {
    display: flex;
    gap: 12px;
    font-family: ui-sans-serif, system-ui, 'Inter', sans-serif;
    width: auto;
    padding: 12px 20px;
    margin: 2px;
    font-size: 16px;
    height: 24px;
    border-radius: 8px;
    color: #2f2f2f;
    text-decoration: none;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    /* добавляем плавное изменение тени */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    /* легкая тень по умолчанию */
}

.navItem:hover {
    background: #eee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    /* тень при наведении чуть сильнее */
}

.active {
    background: linear-gradient(to right, #0073ffd0, #8400ffd0);
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    /* активная навигация с более сильной тенью */
}

.navItem.active:hover {
    background: #1c71d8;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    /* при hover на активной навигации */
}
